<div class="app-cardlist-container">
  <div *ngFor="let item of itemList.slice(pageRangeStart, pageRangeEnd)" class="app-cardlist-item" mat-ripple [routerLink]="item[linkPath]">
    <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
  </div>
</div>
<mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [length]="itemList.length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               *ngIf="showPaginator">
</mat-paginator>
