.app-cardlist-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30%;
  padding-right: 30%;
}

.app-cardlist-item {
  border: 2px solid darkgray;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.app-cardlist-item:hover {
  background-color: whitesmoke;
}

:host {
  height: 100%;
}
